################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/Giorno_1/Esercitazione_24_06/.vs/Esercitazione_24_06
/Giorno_2/Esercitazione_25_06/.vs/Esercitazione_25_06
